{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap" rel="stylesheet">
	<link type="text/css" href="{% static 'main_app/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'main_app/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<div class="header-inner">
			<div class="header-top-wrap">
				<div class="header-logo-wrap">
					<div class="logo"><a href="{% url 'home' %}"></a></div>
				</div>
				<div class="header-buttons-wrap">
					<ul class="header-menu">
						{% if request.user.is_authenticated %}
							<li class="right"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
						{% else %}
							<li class="right"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="header-bottom-wrap">
				<div class="header-mainmenu-wrap">
					<ul class="header-mainmenu">
						{% for m in menu_header %}
							{% if m.pk == cat_selected %}
								<li class="selected">{{ m.title }}</li>
							{% else %}
								<li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</header>

	<main>
		<div class="main-inner">
			{% block content %}
			{% endblock %}
		</div>
	</main>

	<footer>
		<div class="footer-inner">
			<span class="footer-top">Посталкерить за мной можно тут</span>
			<div class="footer-buttons">
				<a class="footer-button telegram" href="https://telegram.me/peezzaa" target="_blank"></a>
				<a class="footer-button vk" href="https://vk.com/petro_freeman" target="_blank"></a>
				<a class="footer-button insta" href="https://www.instagram.com/pb_krd/?hl=ru" target="_blank"></a>
				<a class="footer-button github" href="https://github.com/pbkrd" target="_blank"></a>
				<a class="footer-button linkedin" href="https://ru.linkedin.com/" target="_blank"></a>
			</div>
			<span class="footer-bottom">&copy; 2022-2023 Самый что ни на есть личный, в целом, учебно-практический, но иногда еще и познавательный сайт Барышева П.А.</span>
		</div>
	</footer>
</body>
<script src="{% static 'main_app/js/main_app.js' %}"></script>
</html>
