{% for p in posts %}
	<article class="card-wrap">
		<div class="card-content">
			<a href="{{ p.get_absolute_url }}" class="card-ref"> </a>
			{% if p.photo %}
				<div class="card-img-wrap">
					<img class="card-img" src="{{ p.photo.url }}" alt="Card image cap">
				</div>
			{% endif %}
			<div class="card-body">
				<h3 class="card-title">{{ p.title }}</h3>
				<p class="card-text">{{ p.content|truncatewords:10 }}</p>
			</div>
			<div class="card-footer-wrap">
				<span class="card-footer_left">#{{ p.cat }}</span>
				<span class="card-footer_right">{{ p.created_date|date:"d.m.y" }}</span>
			</div>
		</div>
	</article>
{% endfor %}