{% extends 'main_app/base.html' %}
{% load main_app_tags %}

{% block content %}
<div class="posts-content">

	{% show_categories cat_selected %}

    <div class="posts-grid-wrap">
		{% for p in posts %}
			<article class="card-wrap">
				<div class="card-content">
					<a href="{{ p.get_absolute_url }}" class="card-ref"> </a>
					{% if p.photo %}
						<div class="card-img-wrap">
							<img class="card-img" src="{{ p.photo.url }}" alt="Card image cap">
						</div>
					{% endif %}
					<div class="card-body">
						<h3 class="card-title">{{ p.title }}</h3>
						<p class="card-text">{{ p.content|truncatewords:10 }}</p>
					</div>
					<div class="card-footer-wrap">
						<span class="card-footer_left">#{{ p.cat }}</span>
						<span class="card-footer_right">{{ p.created_date|date:"d.m.y" }}</span>
					</div>
				</div>
			</article>
		{% endfor %}
	</div>

	{% if page_obj.has_other_pages %}
		<nav class="list-pages">
			<ul>
				{% if page_obj.has_previous %}
					<li class="page-num"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
				{% endif %}

				{% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
						<li class="page-num page-num-selected">{{ p }}</li>
					{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        				<li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
                   {% endif %}
        		{% endfor %}

				{% if page_obj.has_next %}
					<li class="page-num"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}

</div>
{% endblock %}