html, body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

header {
    background: #000;
    width: 100%;
	height: 100px;
}

.header-inner {
}

.header-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.header-logo-wrap {
    position: absolute;
    margin: auto;
}

.header-buttons-wrap {
    width: 100%;
}

.header-logo-wrap {
    width: 100px;
	height: 50px;
}

.logo {
    display: block;
    width: 100%;
    height: 100%;
}

.header-bottom-wrap {
    background: #000;
    display: flex;
    justify-content: center;
}

ul.header-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #fff;
	font-size: 20px;
}
ul.header-menu li {
	margin: 18px 40px 0 30px;
}

ul.header-menu li.right {float: right;}

ul.header-menu li a {
	color: #fff;
	text-decoration: none;
}
ul.header-menu li a:hover {
	color: #b81414;
}

.header-mainmenu-wrap {
}

ul.header-mainmenu {
    display: flex;
    justify-content: center;
    align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40px;
	font-size: 20px;
}

ul.header-mainmenu li {

}

ul.header-mainmenu li a {
    display: block;
    padding: 0.35em 2em;
	color: #fff;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

ul.header-mainmenu li a:not(.selected):hover {
    background: rgba(255,255,255,.2);
    border-radius: 5px;
	color: #fff!important;
}

ul.header-mainmenu .selected a {
    opacity: .5;
    cursor: default;
}

main {
    background: #fff;
    width: 100%;
    flex-grow: 1;
}

.main-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    height: 100%;
    width: 100%;
}

.posts-scrollbar-wrap {
    display: none;
    max-width: 100%;
}

.posts-scrollbar-wrap.active-data {
    display: block;
}

.posts-scrollbar {
    display: flex;
    background-color: #fff;
    max-width: 100%;
    overflow-x: auto;
}

.posts-scrollbar::-webkit-scrollbar {
  display: none;
}

footer {
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100px;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.footer-top {
    height: 30px;
    display: flex;
    align-items: center;
}

a.footer-buttons {
    display: flex;
    align-items: center;
}

a.footer-button {
    display: inline-block;
	width: 50px;
	height: 50px;
	margin: 2px;
}

a.footer-button.telegram {background: url('../images/footer_buttons/telegram.png') no-repeat}
a.footer-button.vk {background: url('../images/footer_buttons/vk.png') no-repeat}
a.footer-button.insta {background: url('../images/footer_buttons/insta.png') no-repeat}
a.footer-button.github {background: url('../images/footer_buttons/github.png') no-repeat}
a.footer-button.linkedin {background: url('../images/footer_buttons/linkedin.png') no-repeat}

span.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 23px;
    font-size: 14px;
}
















